.container {

    display: flex;

    height: 350px;
    justify-content: space-between;
    align-items: center;
}

.durationContainer {

    width: 30%;
    //border: solid black 2px;
    background-color: #FF0000;

    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.intensityContainer {


    display: flex;
 
    background-color: #282D30;

    width: 30%;
    height: 70%;
    


}


h4 {

    position: absolute;
    top: 2%;
    left: 2%;
}

.percentage {

    position: absolute;

}
.scoreContainer {


    display: flex;
 
    background-color: #FBFBFB;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
    position: relative;



}

.customTooltip {

    display: flex;
    width: 30px;
    height: 50px;
    font-size: 13px;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;

}

.legendContainer {

    width: 60%;
    align-items: center;
    //border:white 2px solid;
    justify-content: center;
    color: #FFFFFF;


    p {
        margin: 0;
        padding: 0;
    }
}

