.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    //border: solid purple 4px;
}

.sidebarAndDynamicPageContainer {

    //border: solid red 2px;
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100vw;
  
}